<section id="home" class="hero-section">
  <div class="video-background-container margin-top">
    <video preload="auto" autoplay loop muted class="video-background">
      <source type="video/mp4" src="videos/gdrive.mp4" />
      <source type="video/ogg" src="videos/gdrive.ogv" />
      <source type="video/webm" src="videos/gdrive.webm" />
    </video>
  </div>
  <div class="parallax-overlay  margin-top"></div>
  <div class="container">
    <div class="hero-content text-center">

      <div class="hero-text wow fadeIn" data-wow-delay=".8s">
        <h3 class="hero-title">
          <span>RAPTACON</span> FRC Team 3200 </h3>
        <p class="hero-description all-caps">
          Eaglecrest Highschool - Cherry Creek School District
          <br> Colorado - USA
        </p>
        <p class="hero-buttons">
          <a href="#/calendar" class="btn btn-dark">
            <strong>Team Calendar </strong>
            </i>
          </a>
          <a href="#/blog" class="btn btn-main featured">
            <strong>Team Blog </strong>
            </i>
          </a>
          <a href="#/communications" class="btn btn-dark">
            <strong>Team Communications</strong>
            </i>
          </a>
        </p>
      </div>
      <!--/ Hero text end -->
    </div>
    <!--/ Hero content end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ Home end -->

<section id="recent-works">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Robots! Robots!! Robots!!!</h2>
      <p class="lead">We live, breathe and feed on Robotics. Ok, so not all the time, but it feels like it during the intense six weeks of the build season! We are truly blessed to have the guidance of our awesome coaches - Ms Kemp and Mr Kesler - our dedicated mentors, and the wonderful team members who are very supportive of each other and spend countless hours every year to learn, plan and build these awesome Robots to compete at the First Robotics Competition. </p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item1.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Robot 2014</a> </h3>
              <p>This is our robot from 2014 that was very successful and won us awards! Good job team!</p>
              <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item2.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner no-cursor">
              <h3>Precious Metal</h3>
              <p>Dean Kamen, the founder of First Robotics, signed our Robot at the Utah regionals. That is why we will forever cherish this piece of metal!</p>
              <!--<a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item3.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">2015 Robot </a></h3>
              <p>Our Robot from 2015 season did well and again won awards! If it was not for a loose fuse, we would have done even better! Lesson learned!!</p>
              <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item4.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner no-cursor">
              <h3>Testing</h3>
              <p>Our team is getting ready for the upcoming regional tournament. With the competition fast approaching we are working very hard, and are perfecting Robot's grabber arm.</p>
              <!--<a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item5.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner no-cursor">
              <h3>Prototyping</h3>
              <p>The team is prototyping ideas for 2015 season. We are at the building stage turning our brilliant plans into a functional robot for the upcoming competiton.</p>
              <!--<a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item6.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Electronics </a></h3>
              <p>The electronics and wiring of our 2015 robot looks complicated, and it really is! Seen here from a birds eye view.</p>
              <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item7.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner no-cursor">
              <h3>Competition</h3>
              <p>Here is our finalized robot for the 2015 about to begin one of its round. We are happy that we are now past the buiding stage and we are excited to be here at the Utah Regionals</p>
              <!--<a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/full/item8.png" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Programing</a></h3>
              <p>We are tweaking our programming to tune our robots performance for our next round at the Colorado regional competition. GO RAPTACONS!!!</p>
              <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/#recent-works-->

<section id="services" class="service-item">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>About Us</h2>
      <p class="lead">
        We are FRC Team 3200. We are a team based in Centennial, Colorado at Eaglecrest High School (EHS), which is a part of the Cherry Creek School District.
      </p>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--<img class="img-responsive" src="images/services/services1.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">Who Are We</h3>
            <p>We are Raptacon team 3200!
              <br> Robotics offers students who are interested in designing, manufacturing, engineering, and programming a chance to learn and improve these skills as well as apply to them real life scenarios!</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--    <img class="img-responsive" src="images/services/services2.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">Who can join?</h3>
            <p>Anyone can join! We welcome all skill levels, ranging from those who have never done anything like this before to those who are old pros, so do not worry if this is completely new to you.
              <br> The first half of the season will be for learning basic engineering, design, programming, and manufacturing skills. You will be taught by current members as well as mentors.
              <br> If you want to join, just drop on by! You can either see Mrs. Kemp, Mr. Kesler, or talk to a current team member for more information:).
              <br> We would love to have you join so drop on by and give it a shot!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--<img class="img-responsive" src="images/services/services3.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">Competitions</h3>
            <p>The team will participate in the First Robotics Competition (FRC) in April. The competition assignment will be presented in January.
              <br> The competition assignment is what the Robot is built around and could be anything ranging from shooting frisbees (2013 season) to shooting hoops with basketballs (2012 season).
              <br> Teams will not go at it alone, the teams form alliances with other teams attending the competition. A typical alliance usually consists of three teams.
              <br> Last year Raptacon made it into the semi finals, and it is our hope that we will continue on the the finals in St. Louis this year.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--<img class="img-responsive" src="images/services/services4.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">Is there any fee to join?</h3>
            <p>Yes. There is a $100.00 fee to be part of the team. This includes after school snacks, your t-shirt, competition entrance, and much more.
              <br> If we make it into the finals, you will have to pay for travel to St. Louis (around $800.00)
              <br> However, we don’t want to turn anyone away. If you cannot pay the fee because of family situations, the fee can be waved. If you have a situation where you cannot pay, talk to Mrs. Kemp about waving the fee.

            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--<img class="img-responsive" src="images/services/services5.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">What are we doing right now?</h3>
            <p>If you’re interested in figuring out what we are doing right now, we will continuously update the website to keep you in the loop!
              <br> We are currently working on building a robot for this year’s game. We are in week three of the build season.</p>
              <br>
              <br>
              <br>
              <br>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
          <div class="pull-left">
            <!--<img class="img-responsive" src="images/services/services6.png">-->
          </div>
          <div class="media-body">
            <h3 class="media-heading">Where can you find us?</h3>
            <p>We meet Monday-Friday 5:30-8:30 and Saturdays 9-4 in the computer lab (Room E121) or in the Man Lab (E127) . For more information go see Mrs.Kemp or Mr. Kelser.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/#services-->

<section id="partner">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Our Sponsors</h2>
      <p class="lead">We are grateful for the financial support provided to our team by all the sponsors over many years. Without their support it would not be possible for us to come this far, and to inspire the students at Eaglecrest Highschool to pursue their passion
        in Robotics.
      </p>
    </div>

    <div class="sponsors">
      <ul>
        <li>
          <a target="_blank" href="http://www.raytheon.com/">
            <img class="img-responsive wow fadeInDown"  width="150" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/sponsors/raytheon-logo.png">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.cherrycreekschools.org/CTE/Pages/default.aspx">
            <img class="img-responsive wow fadeInDown" width="150" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/sponsors/cte-logo.gif">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://lockheedmartin.com/">
            <img class="img-responsive wow fadeInDown" width="120" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/sponsors/lockheed-logo.png">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.catcrib.com/">
            <img class="img-responsive wow fadeInDown" width="100" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/sponsors/catcrib-logo.png">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://seakr.com/">
            <img class="img-responsive wow fadeInDown" width="150" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/sponsors/seakr-logo.png">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.rocksol.com/">
            <img class="img-responsive wow fadeInDown" width="150" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/sponsors/rocksol-logo.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/#partner-->
