<section id="mentors">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li class="active">Mentors</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Mentors and Coaches</span>
        <span class="black"> - Biographical Information</h1>
    </div>
    <table class="person">
      <tr>
        <td class="person-left">
          <div class="picture">
            <img src="images/team-member.jpg"></img>
          </div>
          <br>
          <div class="text-center">
            <span class="title">Eashan Sahai</span>
            <br>
            <br>
            <span class="year-tag">Freshman</span>
            <span class="year-tag">First year</span>
          </div>
        </td>
        <td class="person-right">
          <div class="subteams">
            <span class="tag">Web Design</span>
            <span class="tag">Programming</span>
            <span class="tag">Electrical</span>
          </div>
          <div class="bio">Eashan is a Freshman at Smoky Hill HS. He enjoys Arduino Programming. Eashan is a Freshman at Smoky Hill HS. He enjoys Arduino Programming. Eashan is a Freshman at Smoky Hill HS. He enjoys Arduino Programming. Eashan is a Freshman at Smoky Hill
            HS. He enjoys Arduino Programming. </div>
        </td>
      </tr>
    </table>
  </div>
</section>
