

<section id="scrimmage">
  <ol class="navbar breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Scrimmage</li>
  </ol>
  <div class="top-shim"></div>
    <div class="container">

      <div class="center wow fadeInDown">
        <h1 class="hero-title"><span>Boxed In</span></h1>
        <h2 class="hero-title black">The EHS Fall 2015 Scrimmage</h2>
        <p class="lead">Presenting
          <b>Boxed In</b>, the third annual Raptacon fall scrimmage. We will be holding the event on December 12 in the cafeteria at Eaglecrest High School. If you are not familiar with our previous events, know that we try to create a contest that will
          let teams practice designing, building, and driving a robot in a more basic game than the real thing in the spring. Teams are invited to operate their robots in practice mode, and the robots do not interact with each other directly, so there is
          no need for bumpers.</p>
      </div>

      <div class="row">
        <div class="features">
          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/video">
              <i class="fa fa-youtube-play"></i>
              <h2>Intro Video</h2></a>
              <h3>An introductory video explaining the game and main rules of the game</h3>
            </div>
          </div>
          <!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/gameRules">
              <i class="fa fa-cogs"></i>
              <h2>Game Rules</h2></a>
              <h3>The complete set of rules for the Fall Scrimmage</h3>
            </div>
          </div>
          <!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/questions">
              <i class="fa fa-question-circle"></i>
              <h2>Questions</h2>
              <h3>Here you can ask any questions you have about the game</h3>
            </div>
          </div>
          <!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/answers">
              <i class="fa fa-comments"></i>
              <h2>Answers</h2>
              <h3>Look here for answers to the most frequently asked questions</h3>
            </div>
          </div>
          <!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/rsvp">
              <i class="fa fa-envelope"></i>
              <h2>RSVP</h2>
              <h3>Let us know if you plan on attending (or even think it’s a possibility) </h3>
            </div>
          </div>
          <!--/.col-md-4-->

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
              <a href="#/scrimmage/updates">
              <i class="fa fa-cloud-upload"></i>
              <h2>Updates</h2></a>
              <h3>Get the updates on the game rules and the December 12 event</h3>
            </div>
          </div>
          <!--/.col-md-4-->
        </div>
        <!--/.services-->
      </div>
      <!--/.row-->

      <div class="center wow fadeInDown">
        <p class="lead">We hope to see you at Eaglecrest High School on December 12!
          (Times will depend somewhat on travel times for teams planning to participate).
          </p>
          <p class="lead">For more information, please contact
             <a href="mailto:mkemp@cherrycreekschools.org">Marilyn Kemp</a>
            and/or
            <a href="mailto:ckesler@cherrycreekschools.org">Corey Kesler</a>
            </p>
      </div>

    </div>
    <!--/.container-->
  </section>
<div class="recent-work-inner">
<div ng-include src="'partials/video-modal.html'"></div>
