<div class="modal fade" id="videoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">EHS Fall 2015 Scrimmage</h4>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/iXIMMFstoNM?rel=0"
            frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
