<section id="gameRules">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/scrimmage">Scrimmage</a></li>
      <li class="active">Game Rules</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Boxed In</span>
        <span class="black"> - Game Rules</h1>
    </div>
    <div class="container">
      <iframe height="1000px" width="100%" src="https://docs.google.com/document/d/1JAcT_ZscrThvmQipfGK9dKUNM_UQPzj3aY3qc66IAaw/pub">
    </div>
  </div>
</section>
