<section id="rsvp">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/scrimmage">Scrimmage</a></li>
      <li class="active">RSVP</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Boxed In</span>
        <span class="black"> - Team Signup Form</h1>
    </div>
    <div class="container">
      <iframe height="1000px" width="100%" src="https://docs.google.com/forms/d/1FJIIxgdPMaaFj2S0FnyVzJZ4nw8TIKAoyyNCt2f0jv8/viewform">
    </div>
  </div>
</section>
