<section id="updates">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/scrimmage">Scrimmage</a></li>
      <li class="active">Updates</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Boxed In</span><span class="black"> - Updates</h1>
    </div>
    <div class="container" ng-controller="BlogFeedController">
      <blog-feed>Error loading Blog Feed ... </blog-feed>
    </div>
  </div>
</section>
