<section id="updates">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/scrimmage">Scrimmage</a></li>
      <li class="active">Updates</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Boxed In</span><span class="black"> - Updates</h1>
    </div>
    <div class="container">
    <!-- div id="widgetmain" style="text-align:left;overflow-y:auto;overflow-x:hidden;width:100%px;background-color:#transparent; border:1px solid #333333;" -->
      <div id="rsswidget" style="height:1000px;">
        <iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1445821264490&amp;x=http%3A%2F%2Fraptacon.org%2Ffeed%2F&amp;w=100%&amp;h=1000&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=false&amp;t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=true&amp;lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=18&amp;idt=true&amp;dtc=284F2D&amp;dts=12"
        border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0" style="border:0; padding:0; margin:0; width:100%; height:1000px;" id="rssOutput">Reading RSS Feed ...</iframe>
      </div>
      <div style="text-align:right;margin-bottom:0;border-top:1px solid #333333;" id="widgetbottom">
        <span style="font-size:70%"><a href="http://www.rssfeedwidget.com">RSS Feed Widget</a>&nbsp;</span>
        <br>
      </div>
    </div>
  </div>
</section>
