<section id="video">
  <div class="container-fluid">
    <ol class="navbar breadcrumb">
      <li><a href="#/">Home</a></li>
      <li><a href="#/scrimmage">Scrimmage</a></li>
      <li class="active">Video</li>
    </ol>
    <div class="center wow fadeInDown">
      <h1 class="hero-title">
        <span>Boxed In</span>
        <span class="black"> - Video Introduction</h1>
    </div>
    <div class="container">
      <iframe height="480" width="853" src="https://www.youtube.com/embed/iXIMMFstoNM?rel=0">
    </div>
  </div>
</section>
